<ul class="comment-children collection">
    <% if children %>
        <% children.each do |child| %>
            <li class="collection-item grey lighten-3">
                <%= child["text"] %>
                <div class="right-align small grey-text darken-1">
                    <span class="comment-user"><%= User.find(child["user_id"]).email %></span>
                    <span><%=child["created_at"].in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %Y %I:%M %p") %></span>
                </div> 
            </li>
        <% end %>
    <% end %>
</ul>