<div class="comments pre-scrollable container-fluid">
    <% if comments %>
        <% comments.each do |comment| %>
        
            <%= render partial: "comments/show", 
                        object: comment, 
                        as: :comment %>
        <% end %>
    <% end %>
</div>