<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><%= @spec.description %></h4>
    </div>
    <div class="modal-body">
        <ul class="errors"></ul>
        <%= render partial: 'list', object: @comment_hash, as: :comments %>
        
    </div>
      
      
  </div>
  <div class="modal-footer">
    <%= render partial: 'form', locals: {parent_id: nil, button_text: 'comment'} %>
  
  </div>
</div>