<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"><%= @spec.description %></h4>
    </div>
    <div class="modal-body">
        <ul class="errors"></ul>
        <% puts "comments = #{@comments}"%>
        <%= render partial: 'list', object: @comments, as: :comments %>
        <%= render partial: 'form' %>
    </div>
      
      <div class="modal-footer">
        <%= link_to "cancel", "#", class: "btn", data: {dismiss: "modal"} %>
        
      </div>
  </div>
</div>