<div class="panel panel-default comment">
    <div class="panel-body">
        <%= comment.text %>
    </div>
    <div class="panel-footer">
        <span class="text-left">
            <span class="comment-user"><%= comment.user.email %></span>
            <span><%=comment.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %Y %I:%S%p") %></span>
        </span> 
        <span class="pull-right">
            <% if comment.resolved? %>
                <span class="label label-success">resolved</span>
            <% else %>
                <% if current_user.can_edit? && current_user != comment.user %>
                    <%= link_to 'resolve', 
                            comment_resolve_path(:comment_id => comment.id), 
                            method: :put,
                            remote: true, 
                            class: "btn btn-default"%>
                <% end %>
            <% end %>
        </span>
        <div class='clearfix'></div>
    </div>
</div>