<div class="modal-dialog">
    <div class="modal-content">
        <h4 class="modal-title">users</h4>
    
        
        <div class="requests">
            <%= render partial: "requests/panel", object: @requests, as: :requests %>
        </div>
        <div class="users card">
             <div class="card-content">
                 <h3 class="card-title">registered users</h3>
                <%= render partial: "show", collection: @users, as: :user %>
            </div>
        </div>
    </div>
      
  </div>
    <div class="modal-footer">
        <%= link_to "okay", "#", class: "btn modal-close" %>
    </div>
</div>