<% if requests && requests.any? %>
    <div class="card">
         <div class="card-content">
            <h3 class="card-title">requests</h3>
            <%= render partial: "requests/show", collection: requests, as: :request %>
        </div>
    </div>
<% end %>