<span class="request">
    <h6>
        <span>
            <%= request.user.email %>
        </span>
                
        <span class="btn-group btn-group-xs" role="group">
            <%= link_to edit_user_path(request.user),
                        remote: true,
                        class: "btn-square" do %>
                <i class="material-icons">edit</i>
            <% end %>
            <%= link_to request, 
                        method: :delete,
                        class: "delete_request btn-square",
                        :remote => true do %>
                <i class="material-icons">delete</i>
            <% end %>
        </span>
        
    </h6>
</span>