<span class="chip tag ticket <%=ticket[:id]%> small-chip">
    <%= link_to ticket[:name], ticket[:url], :target => '_blank' %>
    
    <%= link_to ticket_path(:id => ticket[:id]), 
                method: :delete, 
                :remote => true, 
                :class => 'delete_tag' do %>
        <i class="material-icons small-chip-icon">close</i>
    <% end %>
    
</span>