<div class="chip tag <%=tag[:id]%> small-chip" style="background-color: <%= tag[:color] %>">
    <%= tag[:name] %>
    
    <%= link_to tag_path(:id => tag[:id]), 
                method: :delete, 
                :remote => true, 
                :class => 'delete_tag' do %>
        <i class="small-chip-icon material-icons">close</i>
    <% end %>
</div>