<% if bookmarks.any? %>
    <div class="pinned">
        <ul class="section table-of-contents">
            <li><h6>bookmarks</h6></li>
            <% bookmarks.each do |spec| %>
                <% if (@filtered_spec_ids.nil? || @filtered_spec_ids.include?(spec["id"])) %>
                    <li id="bookmark_<%= spec["id"] %>"><a href="#<%= spec["id"] %>"><%= spec["description"] %></a></li>
                <% end %>
            <% end %>
        </ul>
    </div>
<% end %>