<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Are you sure?</h3>
        </div>
        <div class="modal-body">
          <ul class="errors"></ul>
              This will delete the following specs:
              <div class="card-panel deep-purple lighten-4">
                  <%= render partial: "specs", collection: @deleted_specs, as: :spec %>
              </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <%= link_to "delete", spec_path(@spec), method: :delete, remote: true, class: "btn" %>
        <%= link_to "cancel", "#!", class: "modal-action btn-flat modal-close" %>
    </div>
</div>