<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">export to protractor</h5>
    </div>
    <div class="modal-body">
        <pre>
            <%= @spec_data %>
        </pre>
    </div>
</div>
<div class="modal-footer">
    <a href="#!" class="modal-close btn-flat modal-action">done</a>
</div>