<div class="fixed-action-btn horizontal" id="fixedEditBtn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large cyan">
        <i class="material-icons">menu</i>
    </a>
    <ul>
        <li>
            <%= link_to mass_add_view_specs_path(:projects =>{:project_id => @selected_project_id},
                                                :organization_id => @selected_org_id),
                        remote:true,
                        class: "btn-floating deep-purple tooltipped",
                        data: {position: "top", delay: "20", tooltip: "add specs" } do %>
                <i class="material-icons">add</i>
            <% end %>
        </li>
        <li>
            <%= link_to new_tag_type_path,
                        remote:true,
                        class: "btn-floating deep-purple tooltipped",
                        data: {position: "top", delay: "20", tooltip: "add tag type" } do %>
                <i class="material-icons">label</i>
            <% end %>
        </li>
        <li>
            <%= link_to tag_types_path,
                        remote:true,
                        class: "btn-floating deep-purple tooltipped",
                        data: {position: "top", delay: "20", tooltip: "edit tag types" } do %>
                <i class="material-icons">mode_edit</i>
            <% end %>
            
        </li>
        <li>
            <%= link_to new_project_path,
                        remote:true,
                        class: "btn-floating deep-purple tooltipped",
                        data: {position: "top", delay: "20", tooltip: "add project" } do %>
                <i class="material-icons">note_add</i>
            <% end %>
        </li>
    </ul>
</div>