<% specs.map do |spec, children| %>
<span class="spec-list s<%=spec.id%>">
    <ul>      
        <% if (@filtered_spec_ids.nil? || @filtered_spec_ids.include?(spec.id)) %>
            <li>
                <%= render partial: "spec", object: spec %>
                <% if children %>

                    <div class="children collapse in" id="<%=spec.id%>children">
                        <%= render partial: "specs", 
                                    object: children, 
                                    as: :specs %>
                 
                    </div>
                <% end %>
                
            </li>
        <% end %>
    </ul>
</span>
<% end %>

  

