   
<% if (@filtered_spec_ids.nil? || @filtered_spec_ids.include?(spec[:id])) %>
    <li id="li<%=spec[:id]%>" class="spec-li">
        <%= render partial: "spec", object: spec %>
        <% if (spec[:children]) %>
            <ul class="spec-list">
                <%= render partial: "specs", 
                            collection: spec[:children], 
                            as: :spec %>
             </ul>
        <% end %>
        
    </li>
<% end %>

  

