<% if @specs.blank? %>
    $('.full-spec-list').html('<div class="container">No results</div>')
<% elsif @filtered_spec_ids && @filtered_spec_ids.none? %>
    $('.full-spec-list').html('<div class="container">No results</div>')
<% else %>
    $('.full-spec-list').html('<%= j (render partial: 'specs', collection: @specs, as: :spec) %>')
    $('.bookmarks').html("<%= j(render partial: "bookmarks", object: @bookmarks, as: :bookmarks) %>")
<% end %>
