<% if @specs.blank? %>
    $('.full-spec-list').html('<div class="container">No results</div>')
<% elsif @filtered_spec_ids && @filtered_spec_ids.none? %>
    $('.full-spec-list').html('<div class="container">No results</div>')
<% else %>
    $('.full-spec-list').html("<ul class='sortable spec-list' data-parent='nil'><%= j(render_specs(@specs, @filtered_spec_ids, @can_edit, @ticket_hash, @tag_hash).html_safe) %></ul>")
    $('.bookmarks').html("<%= j(render partial: "bookmarks", object: @bookmarks, as: :bookmarks) %>")
<% end %>
