<div class="container form-signin">
  
  <div class="card-panel grey lighten-2 center-align">
    <h2 class='form-signin-heading deep-purple-text darken-2'>jessdocs 2.0</h2>
    <%= link_to user_omniauth_authorize_path(:google_oauth2),
                class: "btn red" do %>
      <span class="fa fa-google-plus"></span> Sign in with Google
    <% end %>
  </div>
</div>