<div>
    <div ng-mouseenter="$ctrl.spec.userMouseover=true"
        ng-mouseleave="$ctrl.spec.userMouseover=false">
        
        <div ng-style="{'visibility': $ctrl.spec.userMouseover?'visible':'hidden'}" style="display:inline-block">
          <div style="display:inline-block">
            <a ui-tree-handle
              class='btn-flat btn-square'>
              <i class="material-icons">drag_handle</i>
            </a>
          
            <a ng-click="$ctrl.toggleEditButtons($ctrl.spec)" 
              class='btn-flat btn-square'>
              <i class='material-icons tiny-icon'>mode_edit</i>
            </a>
          </div>
        </div>
        
        <div style="display:inline-block">
          {{::$ctrl.spec.description}}
        </div>
        
        <div ng-if="$ctrl.spec.showEditButtons" class="animate-if">
          <buttons></buttons>
        </div>
  
    </div>
    <ol ui-tree-nodes="" ng-model="$ctrl.spec.children">
        <li ng-repeat="child in $ctrl.spec.children" ui-tree-node>
            <item-row spec='::child' ui-tree-callbacks="::$callbacks"></item-row>
        </li>
    </ol>
</div>