<div id="{{$ctrl.spec.id}}">
  
  <div 
    ng-if="!$ctrl.spec.showEditButtons"
    ng-mouseenter="$ctrl.spec.userMouseover=true"
    ng-mouseleave="$ctrl.spec.userMouseover=false"
    class="spec">
    
          
    <span
      ng-style="{'visibility': $ctrl.spec.userMouseover?'visible':'hidden'}">
        <a ui-tree-handle
          class='btn-flat btn-square'>
          <i class="material-icons">drag_handle</i>
        </a>
      
        <a ng-click="$ctrl.setBreadCrumbs($ctrl.spec)" 
          class='btn-flat btn-square'>
          <i class='material-icons tiny-icon'>fullscreen</i>
        </a>
        
        <a ng-click="$ctrl.toggleEditButtons($ctrl.spec)" 
          class='btn-flat btn-square'>
          <i class='material-icons tiny-icon'>mode_edit</i>
        </a>
    </span>
    <span>
        {{::$ctrl.spec.description}}
        <tickets 
          tickets="$ctrl.ticket" 
          spec="$ctrl.spec"
          class="read-only-tags"></tickets>
        <tags 
          class="read-only-tags"
          tags="$ctrl.tag" 
          spec="$ctrl.spec"></tags>
    </span>
  </div>
  <div 
    ng-if="$ctrl.spec.showEditButtons">
      <edit-spec 
        spec="$ctrl.spec"
        tag="$ctrl.tag"
        ticket="$ctrl.ticket"></edit-spec>      
  </div>
    
    <ol ui-tree-nodes="" ng-model="$ctrl.spec.children">
        <li ng-repeat="child in $ctrl.spec.children track by child.id" ui-tree-node>
            <spec 
                spec='::child' 
                ui-tree-callbacks="::$callbacks"
                tag="::$ctrl.parent.getTags(child)"
                ticket="::$ctrl.parent.getTickets(child)"></spec>
        </li>
        <li
          ng-if="$ctrl.spec.addChildren"
          id="addChildren">
          <add-spec
            spec="$ctrl.spec"></add-spec>
        </li>
    </ol>
</div>