.edit-specs md-chips-wrap {
    margin-left: 40px;
}

.edit-specs textarea {
    width: 100%;
}

.edit-icon {
    float: left;
    margin-top: 10px;
}

.edit-input {
    width: 100%;
    margin: 0px;
}

.edit-card-div {
    width: 100%;
}

md-card.edit-specs {
    width: 800px;
    margin-left: 120px;
}