// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tags {
    height: 30px;
}

tickets {
    height: 30px;
}

.read-only-tags {
    display: inline-block;
}

.read-only-tags md-chips .md-chips {
    box-shadow: 0 0px;
}

.read-only-tags .md-chip-input-container input {
    margin-top: 13px;
    margin-left: 5px;
    height: 22px !important;
    line-height: 22px !important;
}

.read-only-tags .md-chip-input-container input {
    line-height: 22px;
}

.read-only-tags .md-chips md-chip {
    line-height: 22px !important;
    height: 22px !important;
    margin-top: 13px;
}

.md-chip-remove {
    height: 22px !important;
}

.tag, .tag label {
    color: white !important;
}
    
.tag > a {
    color: white;
}