 <md-sidenav
    class="md-sidenav-right"
    md-component-id="bookmarks"
    md-disable-backdrop>
     
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                <span>bookmarks</span>
            </h3>
        </div>
    </md-toolbar>
    <md-content>
        <md-list flex>
            <md-list-item 
                ng-click="$ctrl.viewBookmark(bookmark)" 
                ng-repeat="bookmark in $ctrl.bookmarks"
                ng-if="$ctrl.bookmarks.length > 0">
                <p> {{ bookmark.description }} </p>
            </md-list-item>
            <md-list-item
                ng-if="$ctrl.bookmarks.length === 0">
                <p>You have no bookmarks</p>
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>