<% tag_types.each do |tag_type| %>
    <div class="chip tag tag-checkbox" style="background-color: <%= tag_type.color %>">
       
        <%= check_box_tag 'tag_types[]', tag_type.id, @tag_type_ids && @tag_type_ids.include?(tag_type.id.to_s), {onclick: 'filter()', class:"checkbox", id: "tag_types_#{tag_type.id}"} %>
        <%= label_tag "tag_types_#{tag_type.id}", tag_type.name %>
    </div>
<% end %>
    