<div class="modal-content">

    <h4>tags</h4>
    <div>
        <%= render partial: "show", collection: @tag_types, as: :tag_type %>
    </div>
</div>
<div class="modal-footer">
    <%= link_to new_tag_type_path,
                remote:true,
                class: "btn" do %>
        + tag type
    <% end %>
    <%= link_to new_tag_type_group_path,
                remote:true,
                class: "btn" do %>
        + tag group
    <% end %>
    <%= link_to "cancel", "#", class: "btn-flat modal-close"%>
</div>