<md-card 
    style="width:100%">
    <md-toolbar style="background-color:{{editingTagType.color}}">
      <div class="md-toolbar-tools">
          <md-input-container 
              style="width:80%">
                <input
                    ng-model="editingTagType.name"
                    aria-label="name"
                    style="margin-top:20px; color:white" />
            </md-input-container>
        <span flex></span>
        <md-button 
          class="md-icon-button" 
          aria-label="done"
          ng-click="editTagType(editingTagType)">
          <md-icon class="material-icons">done</md-icon>
        </md-button>
      </div>
    </md-toolbar>
  <md-card-content>
      <md-input-container
        style="width:80%">
        <label>tag type group</label>
        <md-select 
            ng-model="editingTagType.tag_type_group_id"
            aria-label="tag type groups"
            md-on-close="changeTagGroup(editingTagType)">
              <md-option value="">no group</md-option>
              <md-option 
                ng-repeat="group in tagGroups" 
                value="{{group.id}}">
                    {{group.name}}
              </md-option>
        </md-select>
      </md-input-container>
      <span flex></span>
      <md-input-container>
        <color-picker
            ng-model="editingTagType.color"
            color-picker-disabled="disableColorField(editingTagType.tag_type_group_id)"
            color-picker-format="hex"
            color-picker-alpha="false"
            color-picker-swatch="true"
            color-picker-swatch-bootstrap="true"
            color-picker-swatch-only="true"
            color-picker-inline="false"
            color-picker-on-change="onChange($event, color)"
            aria-label="tag type color"
        ></color-picker>
    </md-input-container>
  </md-card-content>
</md-card>