<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>jessdocs 2.0</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body layout="column">

<jessdocs
  ng-if="Auth.isAuthenticated()">
</jessdocs>

<login
  ng-if="!Auth.isAuthenticated()">
</login>
  
</body>
</html>
