<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>jessdocs 2.0</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body layout="column">
<toolbar></toolbar>

<md-content layout="row">
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')"
            md-disable-backdrop>
         <sidebar></sidebar>
    </md-sidenav>
  
  <section layout="column" flex role="main">
    
      
      
      <md-content>
        
        <specs></specs>
         
      </md-content>
     <menu ng-cloak></menu>
  </section>
</md-content>
  
  
</body>
</html>
